{% extends "user/base.html" %}
{% load static %}

{% block content %}




<!doctype html>



<!-- Page Breadcrumb -->
<!-- container -->
<div class="container">
	<div class="page-breadcrumb">
		<ol class="breadcrumb">
			<li><a title="Home" href="#">Home</a></li>
			<li class="active">Shopping Cart</li>
		</ol>
		<div class="return-home-link pull-right">
			<a title="Return to home page" href="{% url 'home:home' %}">return to home page</a>
		</div>
	</div>
	<div class="page-header bottom-shadow">
		<h3>Shopping Cart</h3>
		<p>Selected Products </p>
	</div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->

<div class="page-wizard shopping-cart shopping-product-table">
	<!-- container -->
	<div class="container">
		<!-- Shopping-cart-table -->
		<form action="{% url 'cart:cart_page' %}" method="POST">
		<div class="shopping-cart-table bottom-shadow">
			<table class="shop_table cart">
				<thead>
					<tr>
						<th class="product-name">Product</th>
						<th class="product-description">Description</th>
						<th class="product-brand">brand</th>
						<th class="product-color">Color</th>
						<th class="product-size">Size</th>
						<th class="blank-space"></th>
						<th class="product-price">Price</th>
						<th class="product-quantity">Quantity</th>
						<th class="product-subtotal">subtotal</th>
						<th class="product-change">delete</th>
					</tr>
				</thead>
				<tbody>
					
					
                {% for cart_pro in cart_products %}
					
					<tr>
					<td data-title="Product" class="product-tdumbnail">
						
							<a title="Summary" href="#"><img src="{{ cart_pro.product.image.url }}" alt="{{ product_description }}" /></a>
						</td>
						<td data-title="Description" class="product-description">
							<a title="Order No" href="#">
								<b>{{ cart_pro.product_variant.product.name }}</b>
								<p>{{ cart_pro.product_variant.product.description }}</p>
							</a>
						</td>
						<td data-title="brand" class="product-brand">
							{% if cart_pro.brand_image %}
							 <img src="{{ cart_pro.brand_image }}" alt="{{ product_brand }}" style="width: 80px; height: 60px;"/>
						    {% endif %}
						</td>
						<td data-title="Color" class="product-color">
							<span class="choose-color" style="background-color:{{ cart_pro.product_variant.colors.code }};">
								
							</span>
						</td>

						</td>							
						<td data-title="Size" class="product-size">
							<span class="choose-size">{{ cart_pro.product_variant.size.name }}</span>
						</td>
						
						<td data-title="" class="blank-space"></td>
						<td data-title="Price" class="product-price">
							<span class="price-amount">${{ cart_pro.product_variant.price }}</span>
						</td>

						<td data-title="Quantity" class="product-quantity">
							<div class="quantity">

								<input type="button" value="-" class="qtyminus" id="qtyminus{{ forloop.counter }}" data-field="quantity{{ forloop.counter }}" />
								<input type="text"  name="quantity{{ forloop.counter }}" value="{{ cart_pro.quantity }}" class="qty" />
								<input type="button" value="+" class="qtyplus" id="qtyplus{{ forloop.counter }}"  data-field="quantity{{ forloop.counter }}" />
								
							</div>
						</td>


						
						<td data-title="Subtotal" class="product-subtotal">
							<span class="amount" id="subtotal">$ {{ cart_pro.sub_total }}</span>
						</td>
						

						
						<td data-title="delete" class="product-edit">
							<!-- <a title="Pencil Icon" href="#"><span class="product-edit"><i
										class="fa fa-pencil-square-o"></i></span></a> -->
							<a title="Trash Icon" href="{% url 'cart:delete_cart_product' product_id=cart_pro.product.id variant_id=cart_pro.product_variant.id %}"><span class="product-delete"><i
										class="fa fa-trash-o"></i></span></a>
						</td>
					</tr>
				{% endfor %}
					
				</tbody>
			</table>
			<div class="shopping-cart-footer">
				<a title="Continue Shopping" href="{% url 'shop:category' %}" class="btn btn-default">Continue Shopping</a>
			</div>
		</div>
	</form>
	</div>
</div>
<!-- Cart estimate -->
<div class="shopping-cart-estimate">
	<!-- container -->
	<div class="container">
		<div class="row">
			
			<div class="col-md-4 col-sm-6">
				<div class="estimate-details shopping-cart-table">
					<table>
						<tbody>
							
							<tr class="cart-subtotal">
								<th>Subtotal</th>
								<td><span class="amount">${{ total }}</span></td>
								
							</tr>
							<tr class="tax">
								<th>Tax</th>
								<td><span class="amount">${{ tax }}</span></td>
								
							</tr>
							<tr class="order-total">
								<th>Grand Total</th>
								<td><strong><span class="total-amount">{{ grand_total }}</span></strong> </td>
							</tr>
							
						</tbody>
					</table>

					<a href="{% url 'outgoing:checkout' %}" class="btn btn-default" id="checkout-link">proceed to
						checkout</a>

					<script>
						document.getElementById("checkout-link").addEventListener("click", function (event) {
							event.preventDefault(); // Prevent the default behavior of the link
							// Perform any other actions or validations you may need before submitting
							// For example, you can use JavaScript to check some conditions before proceeding to the checkout URL.
							// If conditions are met, navigate to the checkout URL:
							window.location.href = this.getAttribute("href");
						});
					</script>
				</div>
			</div><!-- col-md-4 /- -->
		</div>
	</div>
</div><!-- Cart estimate -->




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('.product-quantity').each(function() {
            var $row = $(this).closest('tr');
            var $quantityInput = $row.find('.qty');
            var $qtyPlus = $row.find('.qtyplus');
            var $qtyMinus = $row.find('.qtyminus');
            var $subtotalElement = $row.find('.amount');

            // Get the initial product price and quantity for each item
            var productPrice = parseFloat($subtotalElement.text().replace(/[^0-9.]/g, ''));
            var currentQuantity = parseInt($quantityInput.val());

            // Function to update subtotal based on quantity
            function updateSubtotal() {
                var newQuantity = parseInt($quantityInput.val());
                var newSubtotal = productPrice * newQuantity;
                $subtotalElement.text('$ ' + newSubtotal.toFixed(2)); // $ symbol for dollars
            }
            
            // Increment the quantity and update subtotal
            $qtyPlus.click(function() {
                currentQuantity++;
                $quantityInput.val(currentQuantity);
                updateSubtotal();
            });

            // Decrement the quantity and update subtotal
            $qtyMinus.click(function() {
                if (currentQuantity > 1) {
                    currentQuantity--;
                    $quantityInput.val(currentQuantity);
                    updateSubtotal();
                }
            });

            // Initialize subtotal for each item
            updateSubtotal();
        });
    });

	
</script> 




{% endblock %}