{% extends "user/base.html" %}
{% load static %}

{% block content %}




<!doctype html>



<!-- Page Breadcrumb -->
<!-- container -->
<div class="container">
	<div class="page-breadcrumb">
		<ol class="breadcrumb">
			<li><a title="Home" href="#">Home</a></li>
			<li class="active">Shopping Cart</li>
		</ol>
		<div class="return-home-link pull-right">
			<a title="Return to home page" href="{% url 'home:home' %}">return to home page</a>
		</div>
	</div>
	<div class="page-header bottom-shadow">
		<h3>Shopping Cart</h3>
		<p>Selected Products </p>
	</div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->

<div class="page-wizard shopping-cart shopping-product-table">
	<!-- container -->
	<div class="container">
		<!-- Shopping-cart-table -->
		<form action="{% url 'cart:cart_page' %}" method="POST">
		<div class="shopping-cart-table bottom-shadow">
			<table class="shop_table cart">
				<thead>
					<tr>
						<th class="product-name">Product</th>
						<th class="product-description">Description</th>
						<th class="product-brand">brand</th>
						<th class="product-color">Color</th>
						
						<th class="blank-space"></th>
						<th class="product-price">Price</th>
						<th class="product-quantity">Quantity</th>
						<th class="product-subtotal">subtotal</th>
						<th class="product-change">edit/delete</th>
					</tr>
				</thead>
				<tbody>
					
					
                        {% for cart_pro in cart_products %}
					
					<tr>
					<td data-title="Product" class="product-tdumbnail">
						
							<a title="Summary" href="#"><img src="{{ cart_pro.product.image.url }}" alt="{{ product_description }}" /></a>
						</td>
						<td data-title="Description" class="product-description">
							<a title="Order No" href="#">
								<b>{{ cart_pro.product_variant.title }}</b>
								Order No. 10101987 - 26
							</a>
						</td>
						<td data-title="brand" class="product-brand">
							<span><img src="{{ cart_pro.product.brand.image.url }}" alt="{{ product_brand }}" /></span>
						</td>
						<td data-title="Color" class="product-color">
							<span class="choose-color "><p style="background-color:{{ cart_pro.product_variant.colors.code }};">Color </p></span>
						</td>
						
						<td data-title="" class="blank-space"></td>
						<td data-title="Price" class="product-price">
							<span class="price-amount">&euro;{{ cart_pro.product_variant.price }}</span>
						</td>
<!-- 
						<td data-title="Quantity" class="product-quantity">
							<div class="quantity">
								<input type="button" value="+" id="qtyplus" class="qtyplus" />
								<input type="text" name="quantity" value="{{ product_quantity }}" class="qty" id="quantity" />
								<input type="button" value="-" id="qtyminus" class="qtyminus" />
							</div>
						</td> -->
						<!-- <td data-title="Quantity" class="product-quantity">
							<div class="quantity">
								<input type="button" value="+" id="qtyplus-1" class="qtyplus" data-field="quantity1" />
								<input type="text" name="quantity1" value="0" class="qty" />
								<input type="button" value="-" class="qtyminus" data-field="quantity1" />
							</div>
						</td> -->
						<td data-title="Quantity" class="product-quantity">
							<div class="quantity">
								<input type="button" value="+" class="qtyplus" id="qtyplus{{ forloop.counter }}" />

								<input type="text" name="quantity{{ forloop.counter }}" value="{{ cart_pro.product_quantity }}" class="qty" id="quantity{{ forloop.counter }}" />
								<input type="button" value="-" class="qtyminus" id="qtyminus{{ forloop.counter }}" />
							</div>
						</td>
						<td data-title="Subtotal" class="product-subtotal">
							<span class="amount" id="subtotal">&dollar; {{ cart_pro.product_price }}</span>
						</td>
						

						
						<td data-title="edit/delete" class="product-edit">
							<a title="Pencil Icon" href="#"><span class="product-edit"><i
										class="fa fa-pencil-square-o"></i></span></a>
							<a title="Trash Icon" href="#"><span class="product-delete"><i
										class="fa fa-trash-o"></i></span></a>
						</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>
			<div class="shopping-cart-footer">
				<a title="Continue Shopping" href="{% url 'shop:category' %}" class="btn btn-default">Continue Shopping</a>
			</div>
		</div>
	</form>
	</div>
</div>
<!-- Cart estimate -->
<div class="shopping-cart-estimate">
	<!-- container -->
	<div class="container">
		<div class="row">
			<!-- col-md-4 -->
			<!-- <div class="col-md-4 col-sm-6">
				 Section Header -->
				<!-- <div class="section-header">
					<h3>estimate shipping and tax</h3>
				</div>Section Header /- -->
				<!-- <div class="estimate-details shopping-cart-table">
					<h4>Enter your destination to get a shipping estimate</h4>
					<form>
						<div class="form-group">
							<select class="form-control minimal">
								<option selected="selected" value="">Select a country....</option>
								<option value="Afghanistan">Afghanistan</option>
								<option value="Albania">Albania</option>
								<option value="Algeria">Algeria</option>
								<option value="American Samoa">American Samoa</option>
								<option value="Andorra">Andorra</option>
								<option value="Angola">Angola</option>
								<option value="Anguilla">Anguilla</option>
							
							</select>
						</div>
						<div class="form-group">
							<select class="form-control minimal">
								<option value="default">STATE/PROVINCE</option>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
							</select>
						</div>
						<div class="form-group">
							<input type="text" name="zip" class="form-control" placeholder="zip/postal-code">
						</div>
						<input type="submit" value="get a quote" class="btn btn-default">
					</form>
				</div> -->
			<!-- </div>col-md-4 /- --> 
			<!-- col-md-4 -->
			<!-- <div class="col-md-4 col-sm-6"> -->
				<!-- section-header -->
				<!-- <div class="section-header">
					<h3>discount codes</h3>
				</div>Section Header /- -->
				<!-- <div class="estimate-details shopping-cart-table coupon">
					<h4>Enter your coupon code if you have</h4>
					<form>
						<div class="form-group">
							<input type="text" name="" class="form-control" placeholder="">
							<input type="submit" value="apply" class="btn">
						</div>
					</form>
				</div> -->
			<!-- </div>col-md-4 /- -->
			<!-- col-md-4 -->
			<div class="col-md-4 col-sm-6">
				<div class="estimate-details shopping-cart-table">
					<table>
						<tbody>
							<tr class="cart-subtotal">
								<th>Subtotal</th>
								<td><span class="amount">&dollar;99.95</span></td>
							</tr>
							<tr class="order-total">
								<th>Grand Total</th>
								<td><strong><span class="total-amount">99.95</span></strong> </td>
							</tr>
						</tbody>
					</table>

					<a href="{% url 'outgoing:checkout' %}" class="btn btn-default" id="checkout-link">proceed to
						checkout</a>

					<script>
						document.getElementById("checkout-link").addEventListener("click", function (event) {
							event.preventDefault(); // Prevent the default behavior of the link
							// Perform any other actions or validations you may need before submitting
							// For example, you can use JavaScript to check some conditions before proceeding to the checkout URL.
							// If conditions are met, navigate to the checkout URL:
							window.location.href = this.getAttribute("href");
						});
					</script>
				</div>
			</div><!-- col-md-4 /- -->
		</div>
	</div>
</div><!-- Cart estimate -->




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.product-quantity').each(function() {
            var $row = $(this).closest('tr');
            var $quantityInput = $row.find('.qty');
            var $qtyPlus = $row.find('.qtyplus');
            var $qtyMinus = $row.find('.qtyminus');
            var $subtotalElement = $row.find('.amount');

            // Get the initial product price and quantity for each item
            var productPrice = parseFloat($subtotalElement.text().replace(/[^0-9.]/g, ''));
            var currentQuantity = parseInt($quantityInput.val());

            // Function to update subtotal based on quantity
            function updateSubtotal() {
                var newQuantity = parseInt($quantityInput.val());
                var newSubtotal = productPrice * newQuantity;
                $subtotalElement.text('$ ' + newSubtotal.toFixed(2)); // $ symbol for dollars
            }

            // Increment the quantity and update subtotal
            $qtyPlus.click(function() {
                currentQuantity++;
                $quantityInput.val(currentQuantity);
                updateSubtotal();
            });

            // Decrement the quantity and update subtotal
            $qtyMinus.click(function() {
                if (currentQuantity > 1) {
                    currentQuantity--;
                    $quantityInput.val(currentQuantity);
                    updateSubtotal();
                }
            });

            // Initialize subtotal for each item
            updateSubtotal();
        });
    });
</script>


{% endblock %}