{% extends "user/base.html" %}
{% load static %}

{% block content %}


<!-- Page Breadcrumb -->
<!-- container -->
<div class="container">
	<div class="page-breadcrumb">
		<ol class="breadcrumb">
			<li><a title="Home" href="index.html">Home</a></li>
			<li class="active">Profile</li>
		</ol>
		<div class="return-home-link pull-right">
			<a title="Return to home page" href="{% url 'home:home' %}">return to home page</a>
		</div>
	</div>
	<div class="page-header bottom-shadow">
		<h3>Change Password</h3>
		<p>It’s free and always will be.</p>
	</div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->



<!-- contact-form-details -->
<div class="contact-form-details">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6"><!-- User Form -->
				<div class="section-header">
					<h3>Change User Password</h3>
				</div><!-- Section Header /- -->
				
				<div class="contact-form">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p style="margin-bottom: 15px;">
                            <label for="{{ field.id_for_label }}" style="font-weight: bold;">{{ field.label_tag }}</label><br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey;">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                       
                        <button class="btn btn-default" type="submit" style="background-color: #b1a599; color: #fff;    margin-left: 0px; padding: 8px 20px; border: none; border-radius: 0px; cursor: pointer;    width: 439px;">SAVE CHANGES</button>
                        {% if messages %}
						<!-- Bootstrap alert component -->
						<div class="alert alert-danger">
							{% for message in messages %}
							{{ message }}
							{% endfor %}
						</div>
						{% endif %}
				</div>
				
			</div><!-- User Form /- -->

			<div class="col-md-6 col-sm-6">
				<!-- Section Header -->
				<div class="section-header">
					<h3> User Panel</h3>
				</div><!-- Section Header /- -->
				<div class="contact-details register-user">
	
					<a title="sign in" href="{% url 'account:edit_profile' %}" class="btn btn-default"
						style="width: 439px;    margin-left: 23px;">Update Profile</a>
					<a title="sign in" href="#" class="btn btn-default"
						style="width: 439px; margin-left: 23px;">Orders</a>
					<a title="sign in" href="{% url 'account:user_logout' %}" class="btn btn-default"
						style="width: 439px; margin-left: 23px;">Log out</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- Contact Form Details /- -->




































<!-- Footer Section -->
<div id="footer-section" class="footer-section">

	<!-- Add Banner -->
	<div id="add-banner-section" class="add-banner-section bottom-shadow">
		<!-- container -->
		<div class="container">
			<a title="Add banner" href="#"><img src="static/user/assets/images/banner20231009_143002_0000-01.jpeg.jpg"
					alt="add-banner" /></a>
		</div><!-- container /- -->
	</div><!-- Add Banner /- -->

	{% endblock %}