{% extends "user/base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a title="Home" href="#">Home</a></li>
            <li class="active">CheckOut</li>
        </ol>
        <div class="return-home-link pull-right">
            <a title="Return Home page" href="index.html">return to home page</a>
        </div>
    </div>
    <div class="page-header bottom-shadow">
        <h3>Checkout</h3>
        <p>with Billing Address</p>
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->

<div class="page-wizard">
    <!-- container -->
    <div class="container">
        <ul class="bottom-shadow">
            <li class="active"><a title="login" href="07_login_register.html">1# login</a></li>
            <li class="active"><a title="Shipping Address" href="08_Shipping_Address.html">2# Checkout</a></li>
            <li><a title="Payments" href="09_payment.html">3# Payments</a></li>
            <li><a title="summary" href="10_summary.html">4# summary</a></li>
            <li><a title="Finish" href="11_finish.html">5# Finish</a></li>
        </ul>
        <!-- contact-form-details -->
        <div class="contact-form-details shipping-transports row">
            <div class="col-md-6 col-sm-6">
                <div class="section-header">
                    <h3>Choose a mode of Transport</h3>
                </div><!-- Section Header /- -->
                <div class="contact-form bottom-shadow">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label data-for="title" class="col-md-4">Title</label>
                            <div class="col-md-8">
                                <select class="minimal">
                                    <option value="default">TITLE</option>
                                    <option value="option1">option1</option>
                                    <option value="option2">option2</option>
                                    <option value="option3">option3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-for="name" class="col-md-4">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="firstname" placeholder="your first name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-for="lastname" class="col-md-4">Last Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="lastname" placeholder="your last name"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-for="address1" class="col-md-4">Address #1</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address1" placeholder="Address Here"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-for="address2" class="col-md-4">Address #2</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address2" placeholder="Address Here"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-for="city" class="col-md-4">City</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="city" placeholder="your city" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-for="zip" class="col-md-4">Zip</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="zip" placeholder="zip code here" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-for="country" class="col-md-4">Country</label>
                            <div class="col-md-8">
                                <select class="minimal">
                                    <option value="selected">SELECT YOUR COUNTRY</option>
                                    <option value="Afghanistan">Afghanistan</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="American Samoa">American Samoa</option>
                                    <option value="Andorra">Andorra</option>
                      
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-for="email" class="col-md-4">Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" id="txt_email" placeholder="your email here"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label data-for="confirm email" class="col-md-4">Confirm Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" id="cemail" placeholder="confirm your email"
                                    required />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- Section Header -->
                <div class="section-header">
                    <h3>Select a Payment Method</h3>
                </div><!-- Section Header /- -->
                <div class="contact-form bottom-shadow">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4">Redirect</label>
                            <div class="col-md-8">
                                <select class="minimal">
                                    <option value="default" selected>TITLE</option>
                                    <option value="INDIA">1</option>
                                    <option value="RILANKA">2</option>
                                    <option value="AMERICA">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Title</label>
                            <div class="col-md-8">
                                <select class="minimal">
                                    <option value="default" selected>TITLE</option>
                                    <option value="option1">option1</option>
                                    <option value="option2">option2</option>
                                    <option value="option3">option3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="firstname-1" placeholder="your first name"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Last Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="lastname-1" placeholder="your last name"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Address #1</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address11" placeholder="Address Here"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Address #2</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="address22" placeholder="Address Here"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="col-md-4">City</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="city1" placeholder="your city" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zip" class="col-md-4">Zip</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="zip1" placeholder="zip code here"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Country</label>
                            <div class="col-md-8">
                                <select class="minimal">
                                    <option value="selected">SELECT YOUR COUNTRY</option>
                                    <option value="Afghanistan">Afghanistan</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="American Samoa">American Samoa</option>
                                    <option value="Andorra">Andorra</option>
                                    <option value="Angola">Angola</option>
                                    <option value="Anguilla">Anguilla</option>
                                    <option value="Antarctica">Antarctica</option>
                                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Armenia">Armenia</option>
                                    <option value="Aruba">Aruba</option>
                           
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" id="email2" placeholder="your email here"
                                    required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Confirm Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" id="cemail2" placeholder="confirm your email"
                                    required />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- Contact Form Details /- -->
        <div class="wizard-footer">
            <a title="Back" href="07_login_register.html"
                class="btn btn-next btn-fill btn-warning btn-wd btn-sm">Back</a>
            <a title="Continue" href="09_payment.html"
                class="btn btn-next btn-fill btn-warning btn-wd btn-sm">Continue</a>
        </div>
    </div>
</div>
{% endblock %}