{% extends "user/base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a title="Home" href="#">Home</a></li>
            <li class="active">CheckOut</li>
        </ol>
        <div class="return-home-link pull-right">
            <a title="Return Home page" href="index.html">return to home page</a>
        </div>
    </div>
    <div class="page-header bottom-shadow">
        <h3>Checkout</h3>
        <p>with Billing Address</p>
    </div><!-- Section Header /- -->
</div><!-- container /- -->
<!-- Page Breadcrumb /- -->





<div class="page-wizard">
    <!-- container -->
    <div class="container">
        
        
            <div class="contact-form-details row">
                <!-- col-md-6 -->
                <div class="col-md-6 col-sm-6">
                    <div class="section-header">
                        <h3>Shipping Details</h3>
                    </div><!-- Section Header Over -->
                    <div class="contact-form bottom-shadow">
                        <form action="" method="POST" class="form-horizontal">
                          {% csrf_token %}
                            <div class="form-group">
                                <label class="col-md-4"> First Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="firstname-1" placeholder="your first name"
                                        required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Last Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="lastname-1" placeholder="your last name"
                                        required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Email</label>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" id="email2" placeholder="your email here"
                                        required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Address</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="address11" placeholder="Address Here"
                                        required />
                                </div>
                            </div>
                         
                            <div class="form-group">
                                <label for="city" class="col-md-4">City</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="city1" placeholder="your city" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="state" class="col-md-4">State</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="state" placeholder="your state" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city" class="col-md-4">Country</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="country" placeholder="your country" required />
                                </div>
                            </div>
                         
                           
                        </form>
                    </div>
                </div><!-- col-md-6 /- -->
                <!-- col-md-6 -->
                <div class="col-md-6 col-sm-6">
                    <div class="section-header">
                        <h3>Your Orders</h3>
                    </div><!-- Section Header Over -->
                    <div class="contact-form bottom-shadow shopping-cart-table bottom-shadow">
                        <div class="col-md-4 "></div>
                                <table class="col-md-12 shop_table cart ">
                        <!-- <table class="shop_table cart"> -->
                        <thead>
        
                           
                            <tr>
                                <th class="product-name">Product</th>
                            
                                <th class="blank-space"></th>
                                
                                <th class="product-quantity">Quantity</th>
                                <th class="product-price">Price</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_pro, cart_image in cart_products %}
                            <tr>
                                <td data-title="Product" class="product-tdumbnail">
                                    <a title="Summary" href="#"><img src="{{ cart_image.images.url }}" alt="{{ cart_pro.product.name }}" style="width: 100px; height: 90px;" /></a>
                                </td>
                              
                               
                                <td data-title="" class="blank-space"></td>
                             
                                <td data-title="Quantity" class="productqty" >
                                    <div class="qty">
                                        <span class="qty">{{ cart_pro.quantity }}</span>
                                    </div>
                                </td>
                                <td data-title="Price" class="product-price">
                                    <span class="price-amount">${{ cart_pro.sub_total }}</span>
                                </td>
                             
                            </tr>	
                            
                          {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div><!-- col-md-6 /- -->
            </div><!-- Contact Form details /- -->
            
        </div><!-- Contact Form Details /- -->
        <div class="wizard-footer">
            <a title="Back" href="07_login_register.html"
                class="btn btn-next btn-fill btn-warning btn-wd btn-sm">Back</a>
            <a title="Continue" href="09_payment.html"
                class="btn btn-next btn-fill btn-warning btn-wd btn-sm">Continue</a>
        </div>
    </div>
</div>
{% endblock %}